@charset "utf-8";
@import "valiables";

%container {
  margin: 0 auto;
  width: 76%;
  height: auto;
}

.container {
  @extend %container;

  &__about {
    background-color: $base-bg-color;
    opacity: 0.95;
    padding: 5rem 3rem;
    width: 53%;
    &__outer {
      background-image: url(../img/about-img.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      object-fit: cover;
      padding: 11rem 0 11rem 5rem;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__works-culture {
    padding: 8rem 0 6rem;
  }

  &__latest-topics {
    @extend %container;
    display: flex;
    flex-direction: column;
  }

  &__contact {
    display: flex;
    padding: 6rem 0 12rem;
  }
}
