@import "valiables";

.header {
  position: fixed;
  width: 100%;
  z-index: 4;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5.8rem;

    & .header__logo {
      color: $sub-font-color;
      font-size: 3rem;
    }
  }
}
