@import "valiables";
@import "mixins";

.header {
  position: fixed;
  width: 100%;
  z-index: 4;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5.8rem;

    & .header__logo {
      color: $sub-font-color;
      font-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      @include paddingVw(35, 30, 35, 30, $tablet-width-size);
    }
    & .header__logo {
      font-size: 2rem;
    }
  }

  @media(max-width: 375px){
    
  }
}
