@charset "utf-8";
@import "valiables";

@mixin btn() {
  background-color: #000000;
  color: $sub-font-color;
  font: {
    size: 1.2rem;
  }
  line-height: 2;
  letter-spacing: 0.015em;
  padding: 1rem 4rem;
}
