@charset "utf-8";
@import "valiables";
@import "mixins";

.section {
  width: 100%;
  height: auto;
  position: relative;

  &:first-of-type {
    margin-top: 12rem;
    width: 100%;

    &::after {
      content: "";
      background-color: $sub-bg-color;
      height: 20%;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &:nth-of-type(3) {
    padding: 6rem 0;
  }

  &--gray {
    background-color: $sub-bg-color;
  }

  &__heading {
    font: {
      size: 3.2rem;
      weight: bold;
    }
    margin-bottom: 3rem;
    letter-spacing: 0.07em;
  }

  &__text {
    font: {
      size: 1.6rem;
    }
    line-height: 2;
    margin-bottom: 3rem;
  }

  @media (max-width: 768px) {
    &:first-of-type {
      margin-top: 8rem;
    }

    &:not(:first-of-type) {
      padding: 0 3rem;
    }

    &__heading {
      @include fontsizeVw(32, $tablet-width-size);
    }

    &__text {
      @include fontsizeVw(16, $tablet-width-size);
    }
  }

  @media (max-width: 375px) {
    &:first-of-type {
      margin-top: 7.8rem;
    }

    &:not(:first-of-type) {
      padding: 0 1.5rem;
    }

    &__heading {
      font-size: 2.8rem;
    }

    &__text {
      font-size: 1.4rem;
    }
  }
}
