@charset "utf-8";
@import "valiables";
@import "mixins";

.topics-list {
  ul {
    align-items: flex-end;
    display: flex;
    flex-direction: column;

    li {
      width: 63%;
      margin-bottom: 3rem;

      span {
        color: #cecece;
        font: {
          size: 1rem;
          weight: bold;
        }
      }
    }
  }

  &__heading {
    border-bottom: 1px solid #dddddd;
    font: {
      size: 1.4rem;
      weight: bold;
    }
    letter-spacing: 0.004em;
    line-height: 4;
  }

  &__btn {
    text-align: right;
    button {
      @include btn();
    }
  }

  @media (max-width: 768px) {
    ul {
      align-items: start;

      li {
        width: 100%;

        span {
          @include fontsizeVw(10, $tablet-width-size);
        }
      }
    }

    &__heading {
      @include fontsizeVw(14, $tablet-width-size);
    }

    &__btn {
      text-align: start;
    }
  }

  @media (max-width: 375px) {
  }
}
