$base-font-color: #333333;
$sub-font-color: #fff;

// background
$base-bg-color: #fff;
$sub-bg-color: #f0f0f0;

// section
$section-title-font-size: 3.2rem;
$section-text-font-size: 1.6rem;

// 画面幅
$pc-width-size: 1440;
$tablet-width-size: 768;
$sp-width-size: 375;
