@charset "utf-8";
@import "valiables";

.works-culture {
  display: flex;
  justify-content: space-between;

  li {
    width: 50%;
    &:first-of-type {
      margin-right: 6rem;
    }

    img {
      margin-bottom: 3rem;
      object-fit: cover;
      width: 100%;
    }
  }
}
